html {
    background-color:rgb(255, 185, 203);
    font-family: "Courier New", monospace;

}
body {
    width:1000px;
    height:830px;
    background-color:rgb(252, 221, 233);
    margin:rgb(218, 182, 182);
    margin:0 auto;    
}
img {
    border-image-width:375px;
    display:block;
    margin:0 auto;
    outline-color:aquamarine

}
h1, h2 {
    text-align:center
}

h1, h2, h3, ul, li {
    font-family:"Courier New", monospace
}

p {
    font-family:"Lucida Console", monospace
}

h3 {
    text-decoration:underline
}

img {
    width: 25%;
    height: 40%
}

.center {
    text-align:center
}